.wsnow {
	position:                  absolute;
	animation-timing-function: ease-out;
	z-index:                   100;
	pointer-events:            none;
	background-color:          transparent;
	background-position:       center center;
	background-repeat:         no-repeat;
}

/* Visuals
 * Here you can arrange the visuals used by the program.
 * The dimensions are optional, the program tries to figure out what they are.
 */

/* Ground scenery
 * You can easily add or change the scenery by removing, adding or changing
 * the visuals.
 * The program will scan for .wsnow.tree1, .wsnow.tree2, ...
 * Scanning stops if wsnow.tree<n> is not followed by wsnow.tree<n+1>
 */

.wsnow.tree1 {
        background-image: url("../images/tannenbaum.png"); /* width : 560px; height: 56px; */
}
.wsnow.tree2 {
        background-image: url("../images/tree-1_100px.png"); /*width : 80px; height: 100px; */
}
.wsnow.tree3 {
        background-image: url("../images/snowtree.png"); /*width: 55px; height: 79px;*/
}
.wsnow.tree4 {
        background-image: url("../images/eland.png"); /*width: 64px; height : 62px;*/
}
.wsnow.tree5 {
        background-image: url("../images/huis4.png"); /*width : 80px; height : 64px;*/
}
.wsnow.tree6 {
        background-image: url("../images/polarbear.png"); /*width: 56px; height: 36;*/
}
.wsnow.tree7 {
        background-image: url("../images/rendier.png"); /*width: 56px; height: 56px;*/
}
.wsnow.tree8 {
        background-image: url("../images/tree.png"); /*width : 70px; height: 80px;*/
}

/* Stars
 * there is only one type of star defined
 */

.wsnow.star {
        background-image: url("../images/star.png"); /*width:9px; height:9px;*/
}

/* Snow flakes
 * See the remarks at the ground scenery
 */
.wsnow.snow_type1 {
	background-image: url("../images/snow00.png"); /*width:3px; height:3px;*/
}

.wsnow.snow_type2 {
	background-image: url("../images/snow01.png"); /*width:8px; height:8px;*/
}

.wsnow.snow_type3 {
	background-image: url("../images/snow02.png"); /*width:8px; height:8px;*/
}

.wsnow.snow_type4 {
	background-image: url("../images/snow03.png"); /*width:8px; height: 8px;*/
}

.wsnow.snow_type5 {
	background-image: url("../images/snow04.png"); /*width: 8px; height:8px;*/
}

.wsnow.snow_type6 {
	background-image: url("../images/snow05.png"); /*width:8px; height: 8px;*/
}

.wsnow.snow_type7 {
	background-image: url("../images/snow06.png"); /*width:3px; height:3px;*/
}

/* Santa's
 * Each Santa contains exactly four visuals for animation.
 * The program scans for .wsnow.santa<n>_1, .wsnow.santa<n>_2, 
 *                       .wsnow.santa<n>_3, .wsnow.santa<n>_4
 * for n=1,2,... until there is no <n+1> entry.
 * Furthermore, there must be a Rudolph variety, called .wsnow.santarudolf<n>_1..4
 */

.wsnow.santa1_1 {
	background-image: url("../images/BigSanta81.png"); /*width:217px; height:33px;*/
}

.wsnow.santa1_2 {
	background-image: url("../images/BigSanta82.png"); /*width:217px; height:33px;*/
}

.wsnow.santa1_3 {
	background-image: url("../images/BigSanta83.png"); /*width:217px; height:33px;*/
}

.wsnow.santa1_4 {
	background-image: url("../images/BigSanta84.png"); /*width: 217px; height:33px;*/
}

.wsnow.santarudolf1_1 {
	background-image: url("../images/BigSantaRudolf81.png"); /*width:255px; height:33px;*/
}

.wsnow.santarudolf1_2 {
	background-image: url("../images/BigSantaRudolf82.png"); /*width:255px; height:33px;*/
}

.wsnow.santarudolf1_3 {
	background-image: url("../images/BigSantaRudolf83.png"); /*width:255px; height:33px;*/
}

.wsnow.santarudolf1_4 {
	background-image: url("../images/BigSantaRudolf84.png"); /*width:255px; height:33px;*/
}

.wsnow.santa2_1 {
	background-image: url("../images/AltSanta1.png"); /*width:204px; height:40px;*/
}

.wsnow.santa2_2 {
	background-image: url("../images/AltSanta2.png"); /*width:204px; height:40px;*/
}

.wsnow.santa2_3 {
	background-image: url("../images/AltSanta3.png"); /*width:204px; height: 40px;*/
}

.wsnow.santa2_4 {
	background-image: url("../images/AltSanta4.png"); /*width:204px; height:40px;*/
}

.wsnow.santarudolf2_1 {
	background-image: url("../images/AltSantaRudolf1.png"); /*width:240px; height:40px;*/
}

.wsnow.santarudolf2_2 {
	background-image: url("../images/AltSantaRudolf2.png"); /*width:240px; height: 40px;*/
}

.wsnow.santarudolf2_3 {
	background-image: url("../images/AltSantaRudolf3.png"); /*width:240px; height:40px;*/
}

.wsnow.santarudolf2_4 {
	background-image: url("../images/AltSantaRudolf4.png"); /*width:240px; height:40px;*/
}

.wsnow.santa3_1 {
	background-image: url("../images/BigSanta1.png"); /*width:177px; height:34px;*/
}

.wsnow.santa3_2 {
	background-image: url("../images/BigSanta2.png"); /*width:177px; height:34px;*/
}

.wsnow.santa3_3 {
	background-image: url("../images/BigSanta3.png"); /*width:177px; height:34px;*/
}

.wsnow.santa3_4 {
	background-image: url("../images/BigSanta4.png"); /*width:177px; height:34px;*/
}

.wsnow.santarudolf3_1 {
	background-image: url("../images/BigSantaRudolf1.png"); /*width:177px; height:34px;*/
}

.wsnow.santarudolf3_2 {
	background-image: url("../images/BigSantaRudolf2.png"); /*width:177px; height:34px;*/
}

.wsnow.santarudolf3_3 {
	background-image: url("../images/BigSantaRudolf3.png"); /*width:177px; height: 34px;*/
}

.wsnow.santarudolf3_4 {
	background-image: url("../images/BigSantaRudolf4.png"); /*width: 177px; height:34px;*/
}

.wsnow.santa4_1 {
	background-image: url("../images/MediumSanta1.png"); /*width:88px; height: 17px;*/
}

.wsnow.santa4_2 {
	background-image: url("../images/MediumSanta2.png"); /*width:88px; height:17px;*/
}

.wsnow.santa4_3 {
	background-image: url("../images/MediumSanta3.png"); /*width:88px; height:17px;*/
}

.wsnow.santa4_4 {
	background-image: url("../images/MediumSanta4.png"); /*width: 88px; height:17px;*/
}

.wsnow.santarudolf4_1 {
	background-image: url("../images/MediumSantaRudolf1.png"); /*width: 88px; height:17px;*/
}

.wsnow.santarudolf4_2 {
	background-image: url("../images/MediumSantaRudolf2.png"); /*width:88px; height:17px;*/
}

.wsnow.santarudolf4_3 {
	background-image: url("../images/MediumSantaRudolf3.png"); /*width:88px; height:17px;*/
}

.wsnow.santarudolf4_4 {
	background-image: url("../images/MediumSantaRudolf4.png"); /*width:88px; height:17px;*/
}

.wsnow.santa5_1 {
	background-image: url("../images/RegularSanta1.png"); /*width: 56px; height:8px;*/
}

.wsnow.santa5_2 {
	background-image: url("../images/RegularSanta2.png"); /*width:56px; height:8px;*/
}

.wsnow.santa5_3 {
	background-image: url("../images/RegularSanta3.png"); /*width: 56px; height:8px;*/
}

.wsnow.santa5_4 {
	background-image: url("../images/RegularSanta4.png"); /*width:56px; height:8px;*/
}

.wsnow.santarudolf5_1 {
	background-image: url("../images/RegularSantaRudolf1.png"); /*width:56px; height:8px;*/
}

.wsnow.santarudolf5_2 {
	background-image: url("../images/RegularSantaRudolf2.png"); /*width:56px; height:8px;*/
}

.wsnow.santarudolf5_3 {
	background-image: url("../images/RegularSantaRudolf3.png"); /*width: 56px; height: 8px;*/
}

.wsnow.santarudolf5_4 {
	background-image: url("../images/RegularSantaRudolf4.png"); /*width: 56px; height: 8px;*/
}

